// Colors 
$c-black: #000;
$c-white: #fff;
$c-grey-light: #F4F4F4;
$c-grey: #7B7B7B;
$c-grey-darken: #565656;
$c-cloud-white: #fdfcef;
$c-blue: #c7ede6;

// Font size 
$fs-base: 16;

// Font family
$ff-base:  'Lato', sans-serif;
$ff-red-hat: 'Red Hat Display', sans-serif;

// Transition
$t-normal: 0.45s cubic-bezier(0.01, 1, 0.63, 1);