.wrapper {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* *Header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
/* menu */
.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.menu-list {
  display: flex;
  flex-direction: row;
}
.menu-item {
  margin-right: 20px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-link:hover {
  color: var(--c-orange);
}
/* buttons */
.header-btn {
  padding: 0 22px;
  height: 46px;
  margin-right: 30px;
}
.header-btn:last-child {
  margin-right: 0;
}
.btn {
  font-weight: 600;
  background-color: var(--c-orange);
  color: var(--c-white);
  border: 1px solid transparent;
  white-space: nowrap;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid var(--c-light-blue);
  color: var(--c-text);
}

/* *Section baner */
/* baner block */
.baner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

h1 {
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
}
.baner-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--c-baner-text);
  line-height: 156%;
}
.section-btn {
  color: var(--c-white);
  background-color: var(--c-orange);
  font-family: "Poppins", sans-serif;
  padding: 0 40px;
  height: 50px;
  font-weight: 700;
}
/* baner img */
.baner-photo {
  max-width: 644px;
  width: 100%;
  margin-left: 56px;
}

/* *Section about */
.about-wrapper {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 100px;
  padding-bottom: 70px;
}
.about-title {
  text-align: center;
}
.about-card {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 70px;
}
.card-block {
  max-width: 270px;
  width: 100%;
  margin-right: 40px;
}
.card-block:last-child {
  margin-right: 0;
}
.card-logo {
  margin-bottom: 30px;
}
.card-text {
  margin-top: 15px;
  line-height: 25px;
}
.about-btn {
  display: flex;
  justify-content: center;
}

/* *Section benefits */
.benefits-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.benefits-photo {
  margin-left: 100px;
  max-width: 570px;
  width: 100%;
}
.benefits-title {
  margin-bottom: 20px;
}
.benefits-text {
  font-weight: 500;
  line-height: 26px;
}
.description {
  margin-bottom: 40px;
}
h5 {
  font-size: 16px;
  line-height: 26px;
}
.benefits-item {
  margin-bottom: 30px;
}
.benefits-item:last-child {
  margin-bottom: 0;
}

/* *Section manager */
.manager-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manager-photo {
  margin-right: 100px;
  max-width: 570px;
  width: 100%;
}
.manager-title {
  margin-bottom: 20px;
}
.manager-text {
  font-weight: 500;
  line-height: 26px;
}
.description {
  margin-bottom: 40px;
}
.manager-item {
  margin-bottom: 30px;
}
.manager-item:last-child {
  margin-bottom: 0;
}
.item-wrapper {
  display: flex;
  align-items: center;
}
.p {
  padding-left: 30px;
}

/* *Footer */
.footer {
  border-top: 1px solid var(--c-light-blue);
  padding: 70px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.footer-list {
  margin-top: 30px;
}

.footer-item {
  margin-bottom: 10px;
  line-height: 26px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
}
.tel {
  background-color: transparent;
  border: 1px solid var(--c-light-blue);
  color: var(--c-text);
  min-width: 340px;
  height: 50px;
  border-radius: 4px;
  padding: 0 10px;
}
input::-moz-placeholder {
  color: var(--c-light-blue);
}
input::-webkit-input-placeholder {
  color: var(--c-light-blue);
}
input:hover {
  border: 1px solid var(--c-orange);
}
