:root {
  --panel-c-dark-blue: #5a8596;
  --panel-c-blue: #9cc1cf;
  --panel-c-violet: #f0eff8;
  --main-c-violet: #9790c9;
  --main-c-dark-violet: #7a74a4;
  --panel-c-white: #fff;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

header {
  background: radial-gradient(
    circle,
    rgba(122, 116, 164, 1) 0%,
    rgba(156, 193, 207, 1) 33%
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.lesson-link {
  cursor: pointer;
  line-height: 25px;
  text-decoration: none;
  margin: 20px;
  color: var(--panel-c-blue);
}
.lesson-link:hover {
  color: var(--main-c-violet);
}
h1 {
  cursor: default;
  padding: 20px;
  color: var(--panel-c-white);
  margin-bottom: 20px;
}

h2 {
  cursor: default;
  padding: 20px;
  color: var(--main-c-dark-violet);
}
