:root {
  --panel-c-dark-blue: #5a8596;
  --panel-c-blue: #9cc1cf;
  --panel-c-violet: #f0eff8;
  --main-c-violet: #9790c9;
  --panel-c-white: #fff;
}
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.lesson-link {
  line-height: 1.25;
  text-decoration: none;
  margin: 20px;
  color: var(--panel-c-blue);
}
.lesson-link:hover {
  color: var(--main-c-violet);
}
h1 {
  padding: 20px;
  color: var(--panel-c-white);
  margin-bottom: 20px;
  background-color: #5a8596;
}
