// Generate EM
@function em($px) {
  @return $px / $fs-base + em;
}

// Generate size
@mixin size($px) {
  width: $px + px;
  height: $px + px;
}

// Flex
@mixin flex($center: null) {
  display: flex;
  align-items: center;
	justify-content: space-between;
	@if $center {
		justify-content: center;
	}
}

