<section id="contacts" class="contacts">
  <div class="wrapper custom-wrapper">
    <!-- *Head -->
    <h2>CONTACTS</h2>
    <div class="subtitle">
      Subscribe to our pages on social networks and subscribe to our newsletter
      to stay tuned.
    </div>

    <!-- *Footer -->
    <button
      mat-raised-button
      (click)="modal.openDialog('400ms', '500ms')"
      matTooltip="Click to subscribe"
      matTooltipClass="tooltip"
      class="button"
    >
      <span>Subscribe</span>
    </button>

    <!-- *Background figures -->
    <div class="circle circle--orange-2">
      <div class="circle__inner"></div>
    </div>
    <div class="stroke stroke--9"></div>
    <div class="stroke stroke--10"></div>
  </div>
</section>
