.button {
  width: 100%;
  cursor: pointer;
  background-color: $c-blue;
  border-radius: 6px;
  border: 1px solid $c-blue;
  height: 40px;
  &__text {
    color: $c-white;
    font-weight: 500;
  }
  &:hover {
    opacity: 0.9;
  }
}
button[type=reset]{
  width: 40px;
  background-color: $c-white;
  background-image: url(./assets/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $c-border-grey;
  &:hover {
    border: 1px solid $c-blue;
  }
}