<div class="modal-3">
  <div class="head">
    <h1 mat-dialog-title class="title">Get demo</h1>
    <button mat-button mat-dialog-close class="close" type="button" id="close">
      <span class="bar"></span><span class="bar"></span>
    </button>
  </div>
  <mat-dialog-content class="content">
    <svg class="icon icon-modal-3 photo">
      <use xlink:href="#icon-modal-3"></use>
    </svg>
  </mat-dialog-content>
  <mat-dialog-actions class="subscribe">
    <a href="./assets/images/subscription.jpg" download="download">
      <button
        mat-button
        matTooltip="Download cute pick."
        matTooltipClass="tooltip--blue"
        class="button button--blue"
        type="button"
      >
        <span class="button__text">Download</span>
      </button></a
    >
  </mat-dialog-actions>
</div>
