
.button {
  border: 1px solid $c-yellow;
  background-color: $c-white;
  font-size: em(14);
  padding: 0 10px;
  height: 24px;
  &__text {
    color: $c-dark-grey;
    font-weight: 700;
  }
  &:hover &__text {
    color: $c-yellow;
  }
}
