// Colors
$c-white: #fff;
$c-light-grey: #E0E0E0;
$c-dark-grey: #4F4F4F;
$c-black: #000;

// Font size 
$fs-base: 20;

// Font family 
$ff-roboto: 'Roboto', sans-serif;
$ff-delius: 'Delius Unicase', oblique;

// *Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// *Transitions
$t-normal: 0.35s $b-normal;