* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-size: var(--f-base);
  background-color: var(--c-milk);
  line-height: var(--line-height);
}
a {
  text-decoration: none;
}
