$circle-size: 900px;
$inner-size: calc($circle-size / 1.31);

.circle {
  position: absolute;
  z-index: -100;
  left: -240px;

  width: $circle-size;
  height: $circle-size;

  box-shadow: inset -20px -10px 20px rgba(0, 0, 0, 0.25);
  transform: rotate(-148deg);
  border-radius: 50%;
  opacity: 0.5;

  animation: rotate-center 6s linear infinite both;

  @include media("<=screen") {
    width: calc($circle-size/1.15);
    height: calc($circle-size/1.15);
  }

  @include media("<=desktop") {
    width: calc($circle-size/1.45);
    height: calc($circle-size/1.45);
  }

  @include media("<=tablet") {
    left: -170px;
    width: calc($circle-size/2);
    height: calc($circle-size/2);
  }

  @include media("<=phone") {
    left: -120px;
    width: calc($circle-size/3);
    height: calc($circle-size/3);
  }

  &__inner {
    position: absolute;
    top: 110px;
    left: 107px;

    width: $inner-size;
    height: $inner-size;

    border-radius: 50%;
    background-color: $c-mine-shaft;
    box-shadow: 10px 8px 40px rgba(32, 31, 31, 0.25);

    @include media("<=screen") {
      width: calc($inner-size/1.2);
      height: calc($inner-size/1.2);
    }

    @include media("<=desktop") {
      width: calc($inner-size/1.7);
      height: calc($inner-size/1.7);
    }

    @include media("<=tablet") {
      top: 12%;
      left: 11.5%;
      width: calc($inner-size/2);
      height: calc($inner-size/2);
    }

    @include media("<=phone") {
      width: calc($inner-size/3);
      height: calc($inner-size/3);
    }
  }

  &--green {
    top: 120px;
    background: linear-gradient(241.28deg, $c-green 35%, #3c413f 100%);
  }

  &--green-2 {
    display: none;
    background: linear-gradient(241.28deg, $c-green 35%, #3c413f 100%);

    @include media("<=phone") {
      display: block;
    }
  }

  &--orange {
    top: 1624px;
    background: linear-gradient(241.28deg, $c-orange 35%, #3c413f 100%);

    @media (max-width: 576px) {
      top: 1260px;
    }

    @include media("<=phone") {
      top: 700px;
    }
  }

  &--orange-2 {
    display: none;
    background: linear-gradient(241.28deg, $c-orange 35%, #3c413f 100%);

    @include media("<=desktop") {
      display: block;
      top: 3450px;
    }

    @media (max-width: 576px) {
      display: none;
    }

    @include media("<=phone") {
      display: block;
      top: 2380px;
    }
  }

  &--blue {
    top: 3200px;
    background: linear-gradient(241.28deg, $c-blue 35%, $c-orange 200%);

    @include media("<=desktop") {
      top: 2760px;
    }

    @include media("<=tablet") {
      top: 2520px;
    }

    @media (max-width: 576px) {
      top: 2340px;
    }

    @include media("<=phone") {
      top: 1200px;
    }
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.stroke {
  position: absolute;
  z-index: -20;
  right: 160px;

  width: 140px;
  height: 1080px;
  border-radius: 0px 0px 70px 70px;

  opacity: 0.5;
  box-shadow: inset 5px -5px 5px rgba(0, 0, 0, 0.25);
  transform: rotate(135deg);

  animation: slide 7s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite both;

  @include media("<=screen") {
    height: 850px;
  }

  @include media("<=desktop") {
    height: 700px;
    width: 110px;
  }

  @include media("<=tablet") {
    right: 80px;
    height: 400px;
    width: 70px;
  }

  @include media("<=phone") {
    width: 40px;
  }

  &--1 {
    right: 160px;
    top: 540px;
    background: linear-gradient(
      180deg,
      $c-orange 30%,
      rgba(213, 131, 103, 0.6) 151.05%
    );

    @include media("<=screen") {
      top: 550px;
      right: 80px;
    }

    @include media("<=tablet") {
      right: 80px;
    }

    @media (max-width: 576px) {
      right: 0;
      top: 300px;
    }
  }

  &--2 {
    right: 170px;
    top: 850px;
    background: linear-gradient(
      180deg,
      $c-green 30%,
      rgba(66, 147, 108, 0.6) 151.05%
    );

    @include media("<=screen") {
      top: 750px;
      right: 130px;
    }

    @include media("<=tablet") {
      right: 70px;
      top: 700px;
    }

    @media (max-width: 576px) {
      right: 0px;
      top: 460px;
    }

    @include media("<=phone") {
      top: 400px;
    }
  }

  &--3 {
    right: 150px;
    top: 2250px;
    background: linear-gradient(
      180deg,
      $c-green 30%,
      rgba(66, 147, 108, 0.6) 151.05%
    );

    @include media("<=desktop") {
      top: 2200px;
    }

    @include media("<=tablet") {
      top: 2130px;
      right: 80px;
    }

    @media (max-width: 576px) {
      top: 1650px;
    }

    @include media("<=phone") {
      right: 0;
      top: 850px;
    }
  }

  &--4 {
    right: 80px;
    top: 2650px;
    background: linear-gradient(
      180deg,
      $c-blue 30%,
      rgba(66, 108, 147, 0.6) 151.05%
    );

    @include media("<=desktop") {
      top: 2550px;
    }

    @include media("<=tablet") {
      top: 2340px;
    }

    @media (max-width: 576px) {
      top: 1790px;
    }

    @include media("<=phone") {
      right: 0;
      top: 960px;
    }
  }

  &--5 {
    right: 90px;
    top: 3310px;
    background: linear-gradient(
      180deg,
      $c-blue 30%,
      rgba(66, 108, 147, 0.6) 151.05%
    );

    @include media("<=screen") {
      top: 3200px;
    }

    @include media("<=desktop") {
      top: 3210px;
    }

    @include media("<=tablet") {
      top: 2860px;
      right: 70px;
    }

    @media (max-width: 576px) {
      top: 2360px;
      right: 0;
    }

    @include media("<=phone") {
      right: 0;
      top: 1400px;
    }
  }

  &--6 {
    right: 100px;
    top: 3750px;
    height: 770px;
    background: linear-gradient(
      180deg,
      $c-orange 30%,
      rgba(213, 131, 103, 0.6) 151.05%
    );

    @include media("<=screen") {
      top: 3540px;
      right: 120px;
    }

    @include media("<=desktop") {
      top: 3400px;
      right: 100px;
    }

    @include media("<=tablet") {
      top: 2900px;
      right: 80px;
    }

    @media (max-width: 576px) {
      display: none;
    }

    @include media("<=phone") {
      display: block;
      right: -100px;
      top: 1460px;
    }
  }

  &--7 {
    right: 0;
    top: 1930px;
    display: none;
    background: linear-gradient(
      180deg,
      $c-green 30%,
      rgba(66, 147, 108, 0.6) 151.05%
    );

    @include media("<=phone") {
      display: block;
    }
  }

  &--8 {
    right: 0;
    top: 2030px;
    display: none;
    background: linear-gradient(
      180deg,
      $c-blue 30%,
      rgba(66, 108, 147, 0.6) 151.05%
    );

    @include media("<=phone") {
      display: block;
    }
  }

  &--9 {
    display: none;
    background: linear-gradient(
      180deg,
      $c-orange 30%,
      rgba(213, 131, 103, 0.6) 151.05%
    );

    @include media("<=tablet") {
      display: block;
      top: 3460px;
      right: -30px;
    }

    @media (max-width: 576px) {
      display: none;
    }

    @include media("<=phone") {
      display: block;
      top: 2260px;
      right: -30px;
    }
  }

  &--10 {
    display: none;
    background: linear-gradient(
      180deg,
      $c-green 30%,
      rgba(66, 147, 108, 0.6) 151.05%
    );

    @include media("<=tablet") {
      display: block;
      top: 3590px;
      right: 10px;
    }

    @media (max-width: 576px) {
      display: none;
    }

    @include media("<=phone") {
      display: block;
      right: -50px;
      top: 2380px;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
