* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  ::selection {
    background-color: $c-peachy;
    color: $c-white;
  }
}

html {
  scroll-behavior: smooth;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  stroke-width: 0;
  height: 1em;
  width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2 {
  cursor: default;
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;

  @include media("<=screen") {
    font-size: 46px;
  }

  @include media("<=desktop") {
    text-align: center;
  }

  @media (max-width: 576px) {
    margin-bottom: 8px;
    font-size: 20px;
  }
}

body {
  background-color: $c-mine-shaft;
  font-family: $ff-base !important;
  font-size: $fs-base;
  overflow-x: hidden;
  color: $c-white;
}

img {
  width: 100%;
}

button {
  font-family: $ff-base;
}

a {
  transition: $t-normal;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  padding-left: 40px;
  padding-right: 40px;

  @include media("<=phone") {
    padding-left: 16px;
    padding-right: 16px;
  }
}
