// *Colors
$c-black: #000;
$c-mine-shaft: #202020;
$c-dark-grey: #838383;
$c-grey: #eee;
$c-white: #ffff;
$c-red: #b5422c;
$c-orange: #D37D5F;
$c-peachy: #F6AF97;
$c-green: #42936C;
$c-blue:#426C93;

// *Font size
$fs-base: 16px;

// *Font family
$ff-base:  'Montserrat', sans-serif;

// *Transition
$t-normal: 0.45s cubic-bezier(0.01, 1, 0.63, 1);
$t-transform: 0.7s cubic-bezier(0.87, 0.64, 0.58, 1.55);
