mixin footer()
  footer.footer 
    .wrapper.footer__wrapper 
      .footer__block
        .footer__cta 
          h1.footer__title Need a project?
          span.footer__contacts (239) 555-0108 <br/><br/>
          span.footer__contacts tanya.hill@example.com
        .footer__socials 
          ul.footer__list
            li.footer__item 
              a.footer__link(href="#")
                i.bi.bi-instagram
            li.footer__item 
              a.footer__link(href="#")
                i.bi.bi-facebook
            li.footer__item 
              a.footer__link(href="#")
                i.bi.bi-twitter
            li.footer__item 
              a.footer__link(href="#")
                i.bi.bi-linkedin
      span.footer__copyright © Copyright Manifest Theme. Allrights reserved