
mixin infoBlock()
  .info 
    h6.info__subtitle Technology, Interface Design
    h3.info__title Using UX Design to Build a Sustainable Future
    span.info__data 6 May, 2020
    p.info__text Transformation has to be driven by everybody, not just by climate groups, and we have a responsibility to use our influence to drive this.
      a(href="#").arrow.arrow__link 
        span.arrow__text Read More
        img(src="./assets/images/arrow.svg", alt="arrow").arrow__arrow
      