mixin navigation()
  nav.navigation 
    .navigation__wrapper 
      ul.navigation__list 
        li.navigation__item 
          a(href="#").navigation__link HOME
        li.navigation__item 
          a(href="#").navigation__link ABOUT
        li.navigation__item 
          a(href="#").navigation__link WORKS
        li.navigation__item 
          a(href="#").navigation__link BLOG
        li.navigation__item 
          a(href="#").navigation__link CONTACT