.info {
  margin-left: 20px;
  margin-bottom: 30px;
  @media (max-width: 576px) {
  }
  &__title {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  &__data {
    color: $c-grey;
    letter-spacing: 0.1em;
  }
  &__text {
    padding-top: 40px;
  }
}