mixin search()
  div.search
    form(action="#"  autocomplete="on")
      input(type="text" id="search" name="search" placeholder="Search").search__text
      input(type="submit" id="search_submit" value="Rechercher").search__submit


//- pattern=".*\S.*"
//- form(action="#").search-bar
//-     input(type="search" name='search' placeholder='Search')
//-     button(type="reset").search-btn
