mixin file(note)
  .form-item__file-wrapper
    label.form-item__file
      .form-item__content
        .form-item__content--file
          input(type="file" name="fileUpload" accept='image/png, image/jpg, image/jpeg').form-item__element.form-item__file-input
          .form-item__camera 
            img(src="./assets/camera.svg" alt="#")
          .form-item__note=note