
mixin registration(title)
  form(action="#" method="get").form 
    .form__wrapper
      .form__head
        h2.form__title=title
      .form__content 
        .form__item-wrapper
          +formItem('First Name', 'text', 'firstName', '', false, false, '', '')
          +formItem('Last Name', 'text', 'lastName', '', false, false, '', 'error')
        +formItem('E-mail', 'email', 'email', '', false, false, 'We`ll never share your email with anyone else.')
        .form__item-wrapper
          +radio('sex', 'Male')
          +radio('sex', 'Female')
        .form__item-wrapper
          +formItem('Country', '', 'country', 'Select', false, true )
          +formItem('City', 'text', 'city', '', false, false)
        .form__buttons
          +button('Sign Up', 'submit')
        p.form__info By clicking the 'Sign Up' button, you confirm that you accept our
          a(href="#").form__link <br>Terms of Use
          |and 
          a(href="#").form__link Privacy Policy
      .form__footer
        span.form__text Have an account?
        a(href="#").form__link <b>Log In</b> 



