// Colors 
$c-light-grey: #F7F7F7;
$c-blue: #007BFF; 
$c-black: #1C1C1C;
$c-white: #fff;
$c-border-grey: #E4E4E4;
$c-dark-grey: #545454;
$c-mid-grey: #969696;

// Font size 
$fs-base: 15;

// Font family 
$ff-base: 'Roboto', sans-serif;