<section class="about-us" id="about-us">
  <div class="wrapper custom-wrapper">
    <!-- *Head -->
    <h2>ABOUT US</h2>
    <div class="subtitle">
      We are a team of enthusiasts who make apps for people. Logic, productivity
      and creativity are our credo.
    </div>

    <!-- *Content -->
    <div class="photos">
      <img class="img" *ngFor="let photo of photos" [src]="photo.src" />
    </div>

    <!-- *Background figures -->
    <div class="circle circle--orange">
      <div class="circle__inner"></div>
    </div>
    <div class="stroke stroke--3"></div>
    <div class="stroke stroke--4"></div>
  </div>
</section>
